.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

system/core/*
!system/core/compat
!system/core/Benchmark.php
!system/core/CodeIgniter.php
!system/core/Common.php
!system/core/Config.php
!system/core/Controller.php
!system/core/Exceptions.php
!system/core/Lang.php
!system/core/Loader.php
!system/core/Log.php
!system/core/Model.php
!system/core/index.html

system/database/drivers/*
!system/database/drivers/pdo
!system/database/drivers/index.html

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
